* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Chillax, sans-serif;
}

body {
  background-color: rgb(12, 11, 11);
}

section {
  max-height: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main section.veiw1 {
  padding: 1.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.veiw1 .top {
  width: 100%;
}
main section.veiw1 .top img {
  width: 100%;
  border-radius: 1rem;
}
main section.veiw1 .bottom {
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgb(34, 33, 33);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.veiw1 .bottom p {
  color: rgb(193, 193, 193);
  font-weight: 200;
}
main section.veiw1 .bottom .discription {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
main section.veiw1 .bottom .discription h2 {
  font-size: 2.5rem;
  color: rgb(221, 224, 226);
  font-weight: lighter;
  text-transform: uppercase;
}
main section.veiw1 .bottom .discription p {
  color: rgba(244, 242, 237, 0.6);
  line-height: 2.1rem;
  font-size: 1.3rem;
}
main section.veiw1 .bottom .discription button {
  padding: 1rem;
  color: aliceblue;
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  border-radius: 1rem;
}
main section.veiw2 {
  padding: 2rem 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-content: center;
}
main section.veiw2 .top, main section.veiw2 .bottom {
  text-align: center;
  justify-content: space-around;
  color: white;
  width: 100%;
  display: flex;
  gap: 2rem;
}
main section.veiw2 .top .studio-stats, main section.veiw2 .bottom .studio-stats {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
main section.veiw2 .top .studio-stats h4, main section.veiw2 .bottom .studio-stats h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: rgb(109, 105, 105);
}
main section.veiw2 .top .studio-stats span, main section.veiw2 .bottom .studio-stats span {
  font-size: 2.4rem;
}
main section.veiw3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.1rem;
}
main section.veiw3 .top {
  width: 100%;
}
main section.veiw3 .top img {
  width: 100%;
  border-radius: 1rem;
}
main section.veiw3 .bottom {
  border-radius: 1rem;
  background-color: rgb(34, 33, 33);
  padding: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.veiw3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
main section.veiw3 .bottom .text h3 {
  font-size: 2.4rem;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  font-weight: lighter;
}
main section.veiw3 .bottom .text p {
  font-size: 1.1rem;
  color: rgba(244, 242, 237, 0.6);
  line-height: 1.6rem;
}
main section.veiw3 .bottom > p {
  font-size: 1.1rem;
  color: rgb(193, 193, 193);
  font-weight: bold;
}
main section.veiw5 {
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main section.veiw5 p {
  font-family: Chillax, sans-serif;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}
main section.veiw5 button {
  padding: 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background-color: transparent;
  visibility: hidden;
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}
main section.veiw6 {
  padding: 1.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main section.veiw6 .cards {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: space-between;
  border-radius: 1rem;
  width: 100%;
  background-size: cover;
  aspect-ratio: 1/1;
  padding: 1.5rem 1rem;
}
main section.veiw6 .cards .top, main section.veiw6 .cards .bottom {
  display: flex;
}
main section.veiw6 .cards .top {
  justify-content: end;
  gap: 0.5rem;
}
main section.veiw6 .cards .top i {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgb(103, 98, 98);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  color: rgb(186, 183, 183);
  border-radius: 50%;
  padding: 0.8rem;
}
main section.veiw6 .cards .bottom {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  padding: 1.4rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
main section.veiw6 .cards .bottom p {
  color: #f4f2ed;
  font-size: 0.98rem;
}
main section.veiw6 .cards .bottom p#name {
  font-size: 1.1rem;
}
main section.veiw6 .card1 {
  background-image: url("./veiw6img1.png");
}
main section.veiw6 .card1 .bottom {
  background: linear-gradient(to right, rgb(130, 122, 107), rgb(215, 213, 213), rgb(130, 122, 107));
}
main section.veiw6 .card2 {
  background-image: url("./veiw6img2.png");
}
main section.veiw6 .card2 .bottom {
  background: linear-gradient(to right, rgb(47, 47, 47), rgb(215, 213, 213), rgb(44, 44, 44));
}
main section.veiw6 .card3 {
  background-image: url("./veiw6img3.png");
}
main section.veiw6 .card3 .bottom {
  background: linear-gradient(to right, rgb(115, 105, 87), rgb(215, 213, 213), rgb(97, 88, 72));
}
main section.veiw7 {
  width: 100%;
  padding: 0rem 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.veiw7 .top {
  width: 100%;
}
main section.veiw7 .top img {
  width: 100%;
  border-radius: 1rem;
}
main section.veiw7 .bottom {
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgb(34, 33, 33);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
}
main section.veiw7 .bottom > p {
  font-size: 1rem;
  color: #d1cccc;
}
main section.veiw7 .bottom .discription {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.veiw7 .bottom .discription h3 {
  width: 90%;
  color: #ebeae8;
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
main section.veiw7 .bottom .discription button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: #ebeae8;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
}
main section.veiw8 {
  padding: 1.1rem;
  width: 100%;
}
main section.veiw8 .contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1.2rem;
  background-color: #cebd63;
  width: 100%;
}
main section.veiw8 .contact .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
}
main section.veiw8 .contact .text p {
  font-size: 0.98rem;
}
main section.veiw8 .contact .text h3 {
  font-size: 1.9rem;
  font-weight: 100;
  line-height: 2.7rem;
  width: 90%;
}
main section.veiw8 .contact button {
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  background-color: black;
  font-weight: 500;
}

@media (min-width: 700px) and (max-width: 1100px) {
  main section.veiw1 .bottom {
    gap: 6rem;
  }
  main section.veiw2 .top, main section.veiw2 .bottom {
    gap: 2rem;
  }
  main section.veiw2 .top .studio-stats, main section.veiw2 .bottom .studio-stats {
    text-align: center;
  }
  main section.veiw2 .top .studio-stats h4, main section.veiw2 .bottom .studio-stats h4 {
    font-size: 1.2rem;
  }
  main section.veiw2 .top .studio-stats span, main section.veiw2 .bottom .studio-stats span {
    font-size: 3.2rem;
  }
  main section.veiw3 .bottom {
    padding: 2rem 3rem;
    gap: 5rem;
  }
  main section.veiw3 .bottom .text h3 {
    font-size: 2.5rem;
  }
  main section.veiw3 .bottom .text p {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  main section.veiw5 button {
    visibility: visible;
  }
  main section.veiw6 .cards {
    background-position: center;
    aspect-ratio: 3/2;
  }
  main section.veiw6 .card1 {
    background-position: center;
  }
  main section.veiw7 .bottom .discription {
    gap: 4rem;
  }
  main section.veiw8 .contact {
    gap: 2rem;
  }
  main section.veiw8 .contact .text h3 {
    font-size: 2.4rem;
    line-height: 4rem;
  }
  main section.veiw8 .contact button {
    font-size: 1.2rem;
  }
}
@media (min-width: 1101px) and (max-width: 1600px) {
  main section.veiw1 {
    flex-direction: row;
  }
  main section.veiw1 .top, main section.veiw1 .bottom {
    width: 50%;
  }
  main section.veiw1 .bottom {
    padding: 1rem 2rem;
    justify-content: space-between;
  }
  main section.veiw1 .bottom .discription h2 {
    font-size: 3.1rem;
    line-height: 4rem;
  }
  main section.veiw1 .bottom .discription p {
    font-size: 1.1rem;
  }
  main section.veiw2 {
    flex-direction: row;
  }
  main section.veiw2 .top, main section.veiw2 .bottom {
    flex-direction: row;
  }
  main section.veiw2 .top .studio-stats h4, main section.veiw2 .bottom .studio-stats h4 {
    font-size: 0.8rem;
  }
  main section.veiw2 .top .studio-stats span, main section.veiw2 .bottom .studio-stats span {
    font-size: 3rem;
  }
  main section.veiw3 {
    flex-direction: row-reverse;
  }
  main section.veiw3 .top, main section.veiw3 .bottom {
    width: 50%;
  }
  main section.veiw3 .bottom {
    justify-content: space-between;
  }
  main section.veiw3 .bottom .text p {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  main section.veiw4 {
    flex-direction: row;
  }
  main section.veiw5 button {
    visibility: visible;
  }
  main section.veiw6 {
    flex-direction: row;
  }
  main section.veiw6 .cards .bottom {
    padding: 1.1rem;
  }
  main section.veiw7 {
    flex-direction: row;
  }
  main section.veiw7 .top, main section.veiw7 .bottom {
    width: 50%;
  }
  main section.veiw7 .bottom {
    padding: 2rem;
  }
  main section.veiw7 .bottom .discription {
    justify-content: space-around;
    gap: 4rem;
  }
  main section.veiw7 .bottom .discription h3 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  main section.veiw8 .contact {
    padding: 3rem;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
  main section.veiw8 .contact .text {
    gap: 1rem;
  }
  main section.veiw8 .contact .text h3 {
    font-size: 3.8rem;
    line-height: 4rem;
  }
  main section.veiw8 .contact .text p {
    font-size: 1.5rem;
  }
  main section.veiw8 button {
    width: 40%;
    font-size: 1.3rem;
    padding: 2rem 5rem;
  }
}
@media (min-width: 1601px) {
  main section.veiw1 {
    flex-direction: row;
  }
  main section.veiw1 .top, main section.veiw1 .bottom {
    width: 50%;
  }
  main section.veiw1 .bottom {
    gap: 3rem;
    padding: 3rem;
    justify-content: space-between;
  }
  main section.veiw1 .bottom p {
    font-size: 1.3rem;
  }
  main section.veiw1 .bottom .discription {
    gap: 2rem;
  }
  main section.veiw1 .bottom .discription h2 {
    font-size: 4rem;
    line-height: 5.7rem;
  }
  main section.veiw1 .bottom .discription p {
    width: 70%;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  main section.veiw2 {
    flex-direction: row;
  }
  main section.veiw2 .top, main section.veiw2 .bottom {
    padding: 1rem 2rem;
  }
  main section.veiw2 .top .studio-stats span, main section.veiw2 .bottom .studio-stats span {
    font-size: 4rem;
  }
  main section.veiw2 .top .studio-stats h4, main section.veiw2 .bottom .studio-stats h4 {
    font-size: 1.2rem;
  }
  main section.veiw3 {
    flex-direction: row-reverse;
  }
  main section.veiw3 .top, main section.veiw3 .bottom {
    width: 50%;
  }
  main section.veiw3 .bottom {
    justify-content: space-between;
    padding: 4rem;
  }
  main section.veiw3 .bottom .text h3 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    width: 80%;
  }
  main section.veiw3 .bottom .text p {
    font-size: 1.3rem;
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  main section.veiw4 {
    flex-direction: row;
  }
  main section.veiw5 p {
    font-size: 2.4rem;
  }
  main section.veiw5 button {
    font-size: 1.2rem;
    visibility: visible;
  }
  main section.veiw6 {
    flex-direction: row;
  }
  main section.veiw7 {
    flex-direction: row;
  }
  main section.veiw7 .top, main section.veiw7 .bottom {
    width: 50%;
  }
  main section.veiw7 .bottom .discription {
    gap: 18rem;
  }
  main section.veiw7 .bottom .discription h3 {
    width: 90%;
    font-size: 3rem;
    line-height: 3.3rem;
  }
  main section.veiw8 .contact {
    padding: 3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  main section.veiw8 .contact .text h3 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.8rem;
  }
  main section.veiw8 .contact .text p {
    font-size: 1.3rem;
  }
  main section.veiw8 .contact button {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.2rem;
    text-align: center;
    padding: 1.2rem 2rem;
  }
}
@media (min-width: 980px) and (max-width: 1100px) {
  main section.veiw6 {
    flex-direction: row;
  }
  main section.veiw6 .cards {
    padding: 1rem 0.1rem 1rem 1rem;
    aspect-ratio: 5/4;
  }
  main section.veiw6 .cards .top {
    gap: 0.2rem;
  }
  main section.veiw6 .cards .top i {
    padding: 0.7rem;
  }
  main section.veiw6 .cards .bottom {
    padding: 1rem;
  }
  main section.veiw8 .contact {
    gap: 3rem;
  }
  main section.veiw8 .contact .text h3 {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */