
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: Chillax, sans-serif;
}

body{
    background-color: rgb(12, 11, 11);
    // background-color: red;
}



  section{
    
        max-height: 2000px;
     }

@mixin flex-coloum($gap){
    display: flex;
    flex-direction: column;
    gap:$gap;
}


main{
   
    width: 100%;
    @include flex-coloum(0rem);
    align-items: center;
    
   
    section.veiw1{
        
         padding: 1.1rem;
        width: 100%;
         @include flex-coloum(1rem);

        .top{
            width: 100%;


            img{
             width: 100%;
             border-radius: 1.0rem;
     
            }
        }


        .bottom{
            padding: 2rem;
            border-radius: 1.0rem;
            background-color: rgb(34, 33, 33);
            // width: 100%;
            @include flex-coloum(3rem);

            p{
                color: rgb(193, 193, 193);
                font-weight: 200;
                
            }

            .discription{
                @include flex-coloum(1.4rem);


                h2{
                    font-size: 2.5rem;
                    color: rgb(221, 224, 226);
                    font-weight: lighter;
                    text-transform: uppercase;
                }

                p{
                   color: rgba(244, 242, 237, 0.6);
                    line-height: 2.1rem;
                    font-size: 1.3rem;
                }


                 button{
                padding: 1rem;
                color: aliceblue;
                font-size: 1.1rem;
                background-color: transparent;
                cursor: pointer;
                width:fit-content;
                text-transform: uppercase;
                border-radius: 1rem;
            }
            }


           
        }

     }

    section.veiw2{
    
        padding: 2rem 2.4rem;
        width: 100%;
        @include flex-coloum(2rem);
        align-content: center;
         
       
        .top,.bottom{
            text-align: center;
            // align-content: center;
            justify-content: space-around;
            color: white;
            width: 100%;
           display: flex;
           gap: 2rem;

        .studio-stats{
            
            @include flex-coloum(0.8rem);

          h4{
             font-size: 0.9rem;
             text-transform: uppercase;
             color: rgb(109, 105, 105);

           }

           span{
            font-size: 2.4rem;
           }

        }     

        }


    }

    section.veiw3{
        width: 100%;
        @include flex-coloum((1rem));
        padding: 1.1rem;
        .top{
            width: 100%;

            img{
                width:100%;
                border-radius: 1.0rem;

            }
        }

        
            .bottom{
                border-radius: 1.0rem;
            background-color: rgb(34, 33, 33);
                padding: 1.4rem;
                width: 100%;
                @include flex-coloum((3rem));
                // justify-content: space-between;

               .text{
                @include flex-coloum(1.7rem);

        
                h3{
                  font-size: 2.4rem;
                  color: white;
                  font-weight: lighter;
                  text-transform: uppercase;
                  font-weight:lighter;

                
                }

                     p{
                   font-size:1.1rem ;
                   color:  rgba(244, 242, 237, 0.6);
                   line-height: 1.6rem;
                      }
                  


               }

           }

           
               .bottom>p{
                    font-size: 1.1rem;
                    color: rgb(193, 193, 193);
                    font-weight: bold;
                }

    }

    section.veiw5{
        padding: 1rem  2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        p{
          font-size: 2rem; 
          color:white;
          text-transform: uppercase;
        }

        button{
            padding: 1.2rem;
            width: fit-content;
            // border: none;
            color:white;
            background-color:transparent;
            visibility: hidden;
            border-radius: 1rem;
            cursor: pointer;
            text-transform: uppercase;

        }

    }

    
}



@media(min-width:700px) and (max-width:1100px){
    main{

         section.veiw1{
    
            
            .bottom{
                // padding: 1rem 2rem;
                gap: 6rem;                
                
            
            }


        }
        
        section.veiw2{
            // flex-direction: row;

           .top,.bottom{

            gap: 2rem;
            .studio-stats{
                text-align: center;

                h4{
                    font-size: 1.2rem;
                }
              span{
                  font-size: 3.2rem;
                  }
           }

           } 
          
        }

        section.veiw3{
            .bottom{
                padding: 2rem 3rem;
                gap:5rem;

                .text{

                    h3{
                        font-size: 2.5rem;
                    }
                    p{
                
                        column-count: 2;
                        column-gap: 2rem;
                    }
                }

            }
        }

        section.veiw5{
            button{
                visibility: visible;
            }
        }
    }
}

@media(min-width:1101px)and (max-width:1600px) {
    main{
        
        section.veiw1{
            flex-direction: row;

            .top,.bottom{
                width: 50%;
            }
            
            .bottom{
                padding: 1rem 2rem;                
                justify-content: space-between;

                .discription {
                    h2{
                      font-size: 3.1rem;
                      line-height: 4rem;  
                    }
                    p{
                        font-size: 1.1rem;
                    }
                }
            }


        }
        

        section.veiw2{
            flex-direction: row;
            
           .top,.bottom{
            flex-direction: row;        
            .studio-stats{

                h4{
                    font-size: 0.8rem;
                }
              span{
                  font-size: 3rem;
                  }
           }

           } 
          
        }

        section.veiw3{
            flex-direction: row-reverse;
            .top,.bottom{

                width: 50%;
            }

            .bottom{
                justify-content: space-between;

                .text{

                    p{
                        column-count: 2;
                        column-gap: 2rem;
                    }
                }
            }

        }

        section.veiw4{
            flex-direction:row;
        }

        section.veiw5{
            button{
                visibility: visible;
            }
        }
    }
}


@media(min-width:1601px){
    main{
       
        section.veiw1{
             flex-direction: row;

             .top,.bottom{
                width: 50%;
             }
            
            .bottom {
                gap: 3rem;
                padding: 3rem;
                justify-content: space-between;
                p{
                    font-size: 1.3rem;
                }

                .discription{
                    gap: 2rem;
                h2{
                
                   font-size: 4.0rem;
                   line-height:5.7rem;
                }

                p{
                    width: 70%;
                    font-size:1.6rem;
                    line-height: 2.8rem;
                }
                }
               

              
            }
        }

        section.veiw2{
            flex-direction: row;
            
            .top,.bottom{
                padding: 1rem  2rem;
              
                .studio-stats{
                  span{
                     font-size: 4rem;
                }

                h4{
                    font-size: 1.2rem;
                    
                }
                }
                
            }
        }

        section.veiw3{

            flex-direction: row-reverse;

            .top,.bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 4rem;
                .text{

                    h3{
                        font-size: 2.5rem;
                        line-height: 3.5rem;
                        width: 80%;
                    }
                    p{
                        font-size: 1.3rem;
                       column-count: 2;
                       column-gap: 2rem;
                    }
                }
            }
        }

        section.veiw4{
            flex-direction: row;
        }

         section.veiw5{
              
            p{
                font-size: 2.3rem;
            }
            button{
                font-size: 1.2rem;
                visibility: visible;
                
            }
        }
    }
}


